:root {
--clr-foreground: #575279;
--clr-foreground-1: #635D8A;
--clr-foreground-2: #7872A0;
--clr-foreground-3: #A19DBC;
--clr-foreground-4: #C9C7D9;
--clr-foreground-5: #E2E0EA;
--clr-foreground-rgb: 87, 82, 121;
--clr-foreground-1-rgb: 99, 93, 138;
--clr-foreground-2-rgb: 120, 114, 160;
--clr-foreground-3-rgb: 161, 157, 188;
--clr-foreground-4-rgb: 201, 199, 217;
--clr-foreground-5-rgb: 226, 224, 234;
--clr-background: #FAF4ED;
--clr-background-1: #6E491F;
--clr-background-2: #9B672B;
--clr-background-3: #D09856;
--clr-background-4: #E5C6A2;
--clr-background-5: #F2E2CF;
--clr-background-rgb: 250, 244, 237;
--clr-background-1-rgb: 110, 73, 31;
--clr-background-2-rgb: 155, 103, 43;
--clr-background-3-rgb: 208, 152, 86;
--clr-background-4-rgb: 229, 198, 162;
--clr-background-5-rgb: 242, 226, 207;
--clr-accent1: #B4637A;
--clr-accent1-1: #813E51;
--clr-accent1-2: #9F4C64;
--clr-accent1-3: #CF9BAA;
--clr-accent1-4: #DDB7C2;
--clr-accent1-5: #EAD3DA;
--clr-accent1-rgb: 180, 99, 122;
--clr-accent1-1-rgb: 129, 62, 81;
--clr-accent1-2-rgb: 159, 76, 100;
--clr-accent1-3-rgb: 207, 155, 170;
--clr-accent1-4-rgb: 221, 183, 194;
--clr-accent1-5-rgb: 234, 211, 218;
--clr-accent2: #EA9D34;
--clr-accent2-1: #B06D12;
--clr-accent2-2: #D98717;
--clr-accent2-3: #EABE84;
--clr-accent2-4: #EECFA9;
--clr-accent2-5: #F3E1CC;
--clr-accent2-rgb: 234, 157, 52;
--clr-accent2-1-rgb: 176, 109, 18;
--clr-accent2-2-rgb: 217, 135, 23;
--clr-accent2-3-rgb: 234, 190, 132;
--clr-accent2-4-rgb: 238, 207, 169;
--clr-accent2-5-rgb: 243, 225, 204;
--clr-accent3: #D7827E;
--clr-accent3-1: #A93A34;
--clr-accent3-2: #C95650;
--clr-accent3-3: #E6B8AA;
--clr-accent3-4: #EDCFC0;
--clr-accent3-5: #F3E3D6;
--clr-accent3-rgb: 215, 130, 126;
--clr-accent3-1-rgb: 169, 58, 52;
--clr-accent3-2-rgb: 201, 86, 80;
--clr-accent3-3-rgb: 230, 184, 170;
--clr-accent3-4-rgb: 237, 207, 192;
--clr-accent3-5-rgb: 243, 227, 214;
--clr-accent4: #286983;
--clr-accent4-1: #205469;
--clr-accent4-2: #245E76;
--clr-accent4-3: #5CADCD;
--clr-accent4-4: #8DC5DC;
--clr-accent4-5: #BDDEEB;
--clr-accent4-rgb: 40, 105, 131;
--clr-accent4-1-rgb: 32, 84, 105;
--clr-accent4-2-rgb: 36, 94, 118;
--clr-accent4-3-rgb: 92, 173, 205;
--clr-accent4-4-rgb: 141, 197, 220;
--clr-accent4-5-rgb: 189, 222, 235;
--clr-accent5: #56949F;
--clr-accent5-1: #3D6971;
--clr-accent5-2: #497E88;
--clr-accent5-3: #92BCC4;
--clr-accent5-4: #B1D0D5;
--clr-accent5-5: #D1E3E6;
--clr-accent5-rgb: 86, 148, 159;
--clr-accent5-1-rgb: 61, 105, 113;
--clr-accent5-2-rgb: 73, 126, 136;
--clr-accent5-3-rgb: 146, 188, 196;
--clr-accent5-4-rgb: 177, 208, 213;
--clr-accent5-5-rgb: 209, 227, 230;
--clr-accent6: #907AA9;
--clr-accent6-1: #716295;
--clr-accent6-2: #816DA0;
--clr-accent6-3: #B8AAC8;
--clr-accent6-4: #CCC1D7;
--clr-accent6-5: #DFD9E7;
--clr-accent6-rgb: 144, 122, 169;
--clr-accent6-1-rgb: 113, 98, 149;
--clr-accent6-2-rgb: 129, 109, 160;
--clr-accent6-3-rgb: 184, 170, 200;
--clr-accent6-4-rgb: 204, 193, 215;
--clr-accent6-5-rgb: 223, 217, 231;
--clr-accent7: #54668C;
--clr-accent7-1: #535882;
--clr-accent7-2: #545E87;
--clr-accent7-3: #8E9DBB;
--clr-accent7-4: #AFB9CF;
--clr-accent7-5: #D0D6E3;
--clr-accent7-rgb: 84, 102, 140;
--clr-accent7-1-rgb: 83, 88, 130;
--clr-accent7-2-rgb: 84, 94, 135;
--clr-accent7-3-rgb: 142, 157, 187;
--clr-accent7-4-rgb: 175, 185, 207;
--clr-accent7-5-rgb: 208, 214, 227;
--clr-surface1: #797593;
--clr-surface1-1: #676287;
--clr-surface1-2: #706B8E;
--clr-surface1-3: #AAA7BA;
--clr-surface1-4: #C2C0CE;
--clr-surface1-5: #DAD9E1;
--clr-surface1-rgb: 121, 117, 147;
--clr-surface1-1-rgb: 103, 98, 135;
--clr-surface1-2-rgb: 112, 107, 142;
--clr-surface1-3-rgb: 170, 167, 186;
--clr-surface1-4-rgb: 194, 192, 206;
--clr-surface1-5-rgb: 218, 217, 225;
--clr-surface2: #9893A5;
--clr-surface2-1: #766F93;
--clr-surface2-2: #88819B;
--clr-surface2-3: #BCB9C5;
--clr-surface2-4: #CFCCD5;
--clr-surface2-5: #E1DFE5;
--clr-surface2-rgb: 152, 147, 165;
--clr-surface2-1-rgb: 118, 111, 147;
--clr-surface2-2-rgb: 136, 129, 155;
--clr-surface2-3-rgb: 188, 185, 197;
--clr-surface2-4-rgb: 207, 204, 213;
--clr-surface2-5-rgb: 225, 223, 229;
--clr-surface3: #CECACD;
--clr-surface3-1: #847A82;
--clr-surface3-2: #A9A2A8;
--clr-surface3-3: #DDDADC;
--clr-surface3-4: #E5E3E4;
--clr-surface3-5: #ECEBEC;
--clr-surface3-rgb: 206, 202, 205;
--clr-surface3-1-rgb: 132, 122, 130;
--clr-surface3-2-rgb: 169, 162, 168;
--clr-surface3-3-rgb: 221, 218, 220;
--clr-surface3-4-rgb: 229, 227, 228;
--clr-surface3-5-rgb: 236, 235, 236;
--clr-surface4: #DFDAD9;
--clr-surface4-1: #92817D;
--clr-surface4-2: #B8ADAB;
--clr-surface4-3: #EDE3DE;
--clr-surface4-4: #F2E8E2;
--clr-surface4-5: #F6EEE7;
--clr-surface4-rgb: 223, 218, 217;
--clr-surface4-1-rgb: 146, 129, 125;
--clr-surface4-2-rgb: 184, 173, 171;
--clr-surface4-3-rgb: 237, 227, 222;
--clr-surface4-4-rgb: 242, 232, 226;
--clr-surface4-5-rgb: 246, 238, 231;
--clr-surface5: #F2E9E1;
--clr-surface5-1: #61442A;
--clr-surface5-2: #875E3A;
--clr-surface5-3: #BB8C62;
--clr-surface5-4: #D6BAA1;
--clr-surface5-5: #E7D6C8;
--clr-surface5-rgb: 242, 233, 225;
--clr-surface5-1-rgb: 97, 68, 42;
--clr-surface5-2-rgb: 135, 94, 58;
--clr-surface5-3-rgb: 187, 140, 98;
--clr-surface5-4-rgb: 214, 186, 161;
--clr-surface5-5-rgb: 231, 214, 200;
--clr-surface6: #F4EDE8;
--clr-surface6-1: #5E422D;
--clr-surface6-2: #845C3F;
--clr-surface6-3: #B88A69;
--clr-surface6-4: #D6BCA9;
--clr-surface6-5: #E8D9CF;
--clr-surface6-rgb: 244, 237, 232;
--clr-surface6-1-rgb: 94, 66, 45;
--clr-surface6-2-rgb: 132, 92, 63;
--clr-surface6-3-rgb: 184, 138, 105;
--clr-surface6-4-rgb: 214, 188, 169;
--clr-surface6-5-rgb: 232, 217, 207;
--clr-surface7: #FFFAF3;
--clr-surface7-1: #8E5300;
--clr-surface7-2: #C97500;
--clr-surface7-3: #FFA72D;
--clr-surface7-4: #FFD190;
--clr-surface7-5: #FFE9CB;
--clr-surface7-rgb: 255, 250, 243;
--clr-surface7-1-rgb: 142, 83, 0;
--clr-surface7-2-rgb: 201, 117, 0;
--clr-surface7-3-rgb: 255, 167, 45;
--clr-surface7-4-rgb: 255, 209, 144;
--clr-surface7-5-rgb: 255, 233, 203;
--clr-auto-surface1: #DAC0A3;
--clr-auto-surface1-1: #AC7C45;
--clr-auto-surface1-2: #C69E71;
--clr-auto-surface1-3: #E9D9C8;
--clr-auto-surface1-4: #F0E6DA;
--clr-auto-surface1-5: #F8F2ED;
--clr-auto-surface1-rgb: 218, 192, 163;
--clr-auto-surface1-1-rgb: 172, 124, 69;
--clr-auto-surface1-2-rgb: 198, 158, 113;
--clr-auto-surface1-3-rgb: 233, 217, 200;
--clr-auto-surface1-4-rgb: 240, 230, 218;
--clr-auto-surface1-5-rgb: 248, 242, 237;
--clr-auto-surface2: #E6D2BA;
--clr-auto-surface2-1: #624623;
--clr-auto-surface2-2: #845E30;
--clr-auto-surface2-3: #BC8747;
--clr-auto-surface2-4: #D1AC80;
--clr-auto-surface2-5: #DEC3A3;
--clr-auto-surface2-rgb: 230, 210, 186;
--clr-auto-surface2-1-rgb: 98, 70, 35;
--clr-auto-surface2-2-rgb: 132, 94, 48;
--clr-auto-surface2-3-rgb: 188, 135, 71;
--clr-auto-surface2-4-rgb: 209, 172, 128;
--clr-auto-surface2-5-rgb: 222, 195, 163;
--clr-auto-surface3: #F1E3D3;
--clr-auto-surface3-1: #684721;
--clr-auto-surface3-2: #90622E;
--clr-auto-surface3-3: #C78F4E;
--clr-auto-surface3-4: #DCB991;
--clr-auto-surface3-5: #E9D2B8;
--clr-auto-surface3-rgb: 241, 227, 211;
--clr-auto-surface3-1-rgb: 104, 71, 33;
--clr-auto-surface3-2-rgb: 144, 98, 46;
--clr-auto-surface3-3-rgb: 199, 143, 78;
--clr-auto-surface3-4-rgb: 220, 185, 145;
--clr-auto-surface3-5-rgb: 233, 210, 184;
--clr-auto-surface4: #FAF6F1;
--clr-auto-surface4-1: #684A25;
--clr-auto-surface4-2: #936934;
--clr-auto-surface4-3: #C79A62;
--clr-auto-surface4-4: #E0C8A9;
--clr-auto-surface4-5: #F0E4D4;
--clr-auto-surface4-rgb: 250, 246, 241;
--clr-auto-surface4-1-rgb: 104, 74, 37;
--clr-auto-surface4-2-rgb: 147, 105, 52;
--clr-auto-surface4-3-rgb: 199, 154, 98;
--clr-auto-surface4-4-rgb: 224, 200, 169;
--clr-auto-surface4-5-rgb: 240, 228, 212;
--clr-auto-surface5: #FAF8F4;
--clr-auto-surface5-1: #614F2C;
--clr-auto-surface5-2: #89703F;
--clr-auto-surface5-3: #BDA26D;
--clr-auto-surface5-4: #DBCDB1;
--clr-auto-surface5-5: #EEE7D9;
--clr-auto-surface5-rgb: 250, 248, 244;
--clr-auto-surface5-1-rgb: 97, 79, 44;
--clr-auto-surface5-2-rgb: 137, 112, 63;
--clr-auto-surface5-3-rgb: 189, 162, 109;
--clr-auto-surface5-4-rgb: 219, 205, 177;
--clr-auto-surface5-5-rgb: 238, 231, 217;
--clr-auto-surface6: #FBF9F8;
--clr-auto-surface6-1: #5A4034;
--clr-auto-surface6-2: #805B49;
--clr-auto-surface6-3: #B38D7A;
--clr-auto-surface6-4: #D7C3B9;
--clr-auto-surface6-5: #EDE3DF;
--clr-auto-surface6-rgb: 251, 249, 248;
--clr-auto-surface6-1-rgb: 90, 64, 52;
--clr-auto-surface6-2-rgb: 128, 91, 73;
--clr-auto-surface6-3-rgb: 179, 141, 122;
--clr-auto-surface6-4-rgb: 215, 195, 185;
--clr-auto-surface6-5-rgb: 237, 227, 223;
--clr-red: var(--clr-accent1);
--clr-red-1: var(--clr-accent1-1);
--clr-red-2: var(--clr-accent1-2);
--clr-red-3: var(--clr-accent1-3);
--clr-red-4: var(--clr-accent1-4);
--clr-red-5: var(--clr-accent1-5);
--clr-red-rgb: var(--clr-accent1-rgb);
--clr-red-1-rgb: var(--clr-accent1-1-rgb);
--clr-red-2-rgb: var(--clr-accent1-2-rgb);
--clr-red-3-rgb: var(--clr-accent1-3-rgb);
--clr-red-4-rgb: var(--clr-accent1-4-rgb);
--clr-red-5-rgb: var(--clr-accent1-5-rgb);
--clr-orange: var(--clr-accent2);
--clr-orange-1: var(--clr-accent2-1);
--clr-orange-2: var(--clr-accent2-2);
--clr-orange-3: var(--clr-accent2-3);
--clr-orange-4: var(--clr-accent2-4);
--clr-orange-5: var(--clr-accent2-5);
--clr-orange-rgb: var(--clr-accent2-rgb);
--clr-orange-1-rgb: var(--clr-accent2-1-rgb);
--clr-orange-2-rgb: var(--clr-accent2-2-rgb);
--clr-orange-3-rgb: var(--clr-accent2-3-rgb);
--clr-orange-4-rgb: var(--clr-accent2-4-rgb);
--clr-orange-5-rgb: var(--clr-accent2-5-rgb);
--clr-yellow: var(--clr-accent2);
--clr-yellow-1: var(--clr-accent2-1);
--clr-yellow-2: var(--clr-accent2-2);
--clr-yellow-3: var(--clr-accent2-3);
--clr-yellow-4: var(--clr-accent2-4);
--clr-yellow-5: var(--clr-accent2-5);
--clr-yellow-rgb: var(--clr-accent2-rgb);
--clr-yellow-1-rgb: var(--clr-accent2-1-rgb);
--clr-yellow-2-rgb: var(--clr-accent2-2-rgb);
--clr-yellow-3-rgb: var(--clr-accent2-3-rgb);
--clr-yellow-4-rgb: var(--clr-accent2-4-rgb);
--clr-yellow-5-rgb: var(--clr-accent2-5-rgb);
--clr-green: var(--clr-accent5);
--clr-green-1: var(--clr-accent5-1);
--clr-green-2: var(--clr-accent5-2);
--clr-green-3: var(--clr-accent5-3);
--clr-green-4: var(--clr-accent5-4);
--clr-green-5: var(--clr-accent5-5);
--clr-green-rgb: var(--clr-accent5-rgb);
--clr-green-1-rgb: var(--clr-accent5-1-rgb);
--clr-green-2-rgb: var(--clr-accent5-2-rgb);
--clr-green-3-rgb: var(--clr-accent5-3-rgb);
--clr-green-4-rgb: var(--clr-accent5-4-rgb);
--clr-green-5-rgb: var(--clr-accent5-5-rgb);
--clr-cyan: var(--clr-accent5);
--clr-cyan-1: var(--clr-accent5-1);
--clr-cyan-2: var(--clr-accent5-2);
--clr-cyan-3: var(--clr-accent5-3);
--clr-cyan-4: var(--clr-accent5-4);
--clr-cyan-5: var(--clr-accent5-5);
--clr-cyan-rgb: var(--clr-accent5-rgb);
--clr-cyan-1-rgb: var(--clr-accent5-1-rgb);
--clr-cyan-2-rgb: var(--clr-accent5-2-rgb);
--clr-cyan-3-rgb: var(--clr-accent5-3-rgb);
--clr-cyan-4-rgb: var(--clr-accent5-4-rgb);
--clr-cyan-5-rgb: var(--clr-accent5-5-rgb);
--clr-blue: var(--clr-accent7);
--clr-blue-1: var(--clr-accent7-1);
--clr-blue-2: var(--clr-accent7-2);
--clr-blue-3: var(--clr-accent7-3);
--clr-blue-4: var(--clr-accent7-4);
--clr-blue-5: var(--clr-accent7-5);
--clr-blue-rgb: var(--clr-accent7-rgb);
--clr-blue-1-rgb: var(--clr-accent7-1-rgb);
--clr-blue-2-rgb: var(--clr-accent7-2-rgb);
--clr-blue-3-rgb: var(--clr-accent7-3-rgb);
--clr-blue-4-rgb: var(--clr-accent7-4-rgb);
--clr-blue-5-rgb: var(--clr-accent7-5-rgb);
--clr-purple: var(--clr-accent7);
--clr-purple-1: var(--clr-accent7-1);
--clr-purple-2: var(--clr-accent7-2);
--clr-purple-3: var(--clr-accent7-3);
--clr-purple-4: var(--clr-accent7-4);
--clr-purple-5: var(--clr-accent7-5);
--clr-purple-rgb: var(--clr-accent7-rgb);
--clr-purple-1-rgb: var(--clr-accent7-1-rgb);
--clr-purple-2-rgb: var(--clr-accent7-2-rgb);
--clr-purple-3-rgb: var(--clr-accent7-3-rgb);
--clr-purple-4-rgb: var(--clr-accent7-4-rgb);
--clr-purple-5-rgb: var(--clr-accent7-5-rgb);
--clr-magenta: var(--clr-accent6);
--clr-magenta-1: var(--clr-accent6-1);
--clr-magenta-2: var(--clr-accent6-2);
--clr-magenta-3: var(--clr-accent6-3);
--clr-magenta-4: var(--clr-accent6-4);
--clr-magenta-5: var(--clr-accent6-5);
--clr-magenta-rgb: var(--clr-accent6-rgb);
--clr-magenta-1-rgb: var(--clr-accent6-1-rgb);
--clr-magenta-2-rgb: var(--clr-accent6-2-rgb);
--clr-magenta-3-rgb: var(--clr-accent6-3-rgb);
--clr-magenta-4-rgb: var(--clr-accent6-4-rgb);
--clr-magenta-5-rgb: var(--clr-accent6-5-rgb);
--clr-info: var(--clr-accent7);
--clr-info-1: var(--clr-accent7-1);
--clr-info-2: var(--clr-accent7-2);
--clr-info-3: var(--clr-accent7-3);
--clr-info-4: var(--clr-accent7-4);
--clr-info-5: var(--clr-accent7-5);
--clr-info-rgb: var(--clr-accent7-rgb);
--clr-info-1-rgb: var(--clr-accent7-1-rgb);
--clr-info-2-rgb: var(--clr-accent7-2-rgb);
--clr-info-3-rgb: var(--clr-accent7-3-rgb);
--clr-info-4-rgb: var(--clr-accent7-4-rgb);
--clr-info-5-rgb: var(--clr-accent7-5-rgb);
--clr-success: var(--clr-accent5);
--clr-success-1: var(--clr-accent5-1);
--clr-success-2: var(--clr-accent5-2);
--clr-success-3: var(--clr-accent5-3);
--clr-success-4: var(--clr-accent5-4);
--clr-success-5: var(--clr-accent5-5);
--clr-success-rgb: var(--clr-accent5-rgb);
--clr-success-1-rgb: var(--clr-accent5-1-rgb);
--clr-success-2-rgb: var(--clr-accent5-2-rgb);
--clr-success-3-rgb: var(--clr-accent5-3-rgb);
--clr-success-4-rgb: var(--clr-accent5-4-rgb);
--clr-success-5-rgb: var(--clr-accent5-5-rgb);
--clr-warning: var(--clr-accent2);
--clr-warning-1: var(--clr-accent2-1);
--clr-warning-2: var(--clr-accent2-2);
--clr-warning-3: var(--clr-accent2-3);
--clr-warning-4: var(--clr-accent2-4);
--clr-warning-5: var(--clr-accent2-5);
--clr-warning-rgb: var(--clr-accent2-rgb);
--clr-warning-1-rgb: var(--clr-accent2-1-rgb);
--clr-warning-2-rgb: var(--clr-accent2-2-rgb);
--clr-warning-3-rgb: var(--clr-accent2-3-rgb);
--clr-warning-4-rgb: var(--clr-accent2-4-rgb);
--clr-warning-5-rgb: var(--clr-accent2-5-rgb);
--clr-error: var(--clr-accent1);
--clr-error-1: var(--clr-accent1-1);
--clr-error-2: var(--clr-accent1-2);
--clr-error-3: var(--clr-accent1-3);
--clr-error-4: var(--clr-accent1-4);
--clr-error-5: var(--clr-accent1-5);
--clr-error-rgb: var(--clr-accent1-rgb);
--clr-error-1-rgb: var(--clr-accent1-1-rgb);
--clr-error-2-rgb: var(--clr-accent1-2-rgb);
--clr-error-3-rgb: var(--clr-accent1-3-rgb);
--clr-error-4-rgb: var(--clr-accent1-4-rgb);
--clr-error-5-rgb: var(--clr-accent1-5-rgb);
}